spring:
  thymeleaf:
    cache: false
  datasource:
    username: root
    password: ""
    url: "jdbc:mysql://127.0.0.1:3306/kotlin_sample?characterEncoding=UTF8&useSSL=false"
google:
  client:
    clientId: 477656831791-6gdc6pkmh9722o38niu10g5g1aat090n.apps.googleusercontent.com
    clientSecret: nhyyZqOYdCUsJ8F6Mfy4u4Vl
    accessTokenUri: https://www.googleapis.com/oauth2/v4/token
    userAuthorizationUri: https://accounts.google.com/o/oauth2/v2/auth
    clientAuthenticationScheme: form
    scope:
      - openid
      - email
      - profile
  resource:
    userInfoUri: https://www.googleapis.com/oauth2/v3/userinfo
    preferTokenInfo: true