<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
    <title>利用者の新規登録</title>
</head>
<body>
<div class="ui container">

    <div class="ui vertical segment">
        <h1 class="ui header">利用者の新規登録</h1>
    </div>

    <div class="ui vertical segment">
        <form id="custom-form" class="ui form" name="body"
              method="post" action="#"
              th:object="${userRegisterForm}" th:action="@{/user/register}">

            <div class="ui vertical segment">
                <div th:replace="fragments/form/input::macro('userIdentifierName','利用者ID','yasuda')">
                    <label>ID</label>
                    <input type="text">
                </div>
                <div th:replace="fragments/form/input::macro('userMailAddress','メールアドレス','yasuda@yasuda.com')">
                    <label>ID</label>
                    <input type="text">
                </div>
                <div th:replace="fragments/form/input::macro('userLastName','名字','安田')">
                    <label>ID</label>
                    <input type="text">
                </div>
                <div th:replace="fragments/form/input::macro('userFirstName','名前','太郎')">
                    <label>ID</label>
                    <input type="text">
                </div>
            </div>
            <div class="ui basic segment">
                <button type="submit" class="ui positive basic button">登録する</button>
            </div>
        </form>
    </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>